{% extends 'base.html' %}
{% load static %}

{% block title %}Panel{% endblock %}

{% block content %}


<h2>Bienvenido</h2>
<hr>


<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" href="/clientes/listaClientes/">Clientes</a>
            <a class="list-group-item list-group-item-action" href="/productos/listaProductos/">Productos</a>
            <a class="list-group-item list-group-item-action" href="/pedidos/listaPedidos">Pedidos</a>
            <a class="list-group-item list-group-item-action" href="">Inventario</a>
            <a class="list-group-item list-group-item-action" href="">Reportes</a>
        </div>
    </div>
    <div class="col-md-8">
        <p>Panel rápido y accesos directos.</p>
    </div>
</div>



{% endblock %}

