{% extends 'base.html' %}
{% block title %}Editar producto{% endblock %}


{% block content %}

  <h2>Editar producto: {{ producto.nombre_producto }}</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in formulario_recibido %}

      <div class="mb-3">
        {{ field.label_tag }} {{ field }}
        {% if field.errors %}<div class="text-danger small">{{ field.errors }}</div>{% endif %}
      </div>
      
    {% endfor %}
    <button class="btn btn-primary" type="submit">Guardar cambios</button>
    <a class="btn btn-secondary" href="{% url 'lista_productos' %}">Cancelar</a>
  </form>


{% endblock %}
